body {
  font-size: 16px;
  line-height: 1;
  background-image: linear-gradient(rgb(139, 115, 115)30%,rgb(224, 181, 148));
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(rgb(224, 181, 148), rgb(139, 115, 115)40%);
  border-radius: 0;
  padding-bottom: 10px;
}
.display-3 {
  font-family: 'Rock Salt', cursive;
  color: #e2bf4b;
}
.lead {
  font-size: 1.5rem;
  color: #f38983;
}
#currentDay {
  font-size: 2rem;
  color: #e2bf4b;
  margin-top: 30px;
}
.container {
  background-color: whitesmoke;
  margin-bottom: 5rem;
  padding: 3px 20px 0 20px;
  border-radius: 15px;
}

.time-block {
  padding: 10px;
  resize: none;
  white-space: pre-wrap;
  text-align: center;
  border-radius: 15px;
  border: solid 3px whitesmoke;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  text-align: center;
  background: whitesmoke;
  color: #f38983;
  font-weight: bold;
  border-radius: 50%;
  border: solid #f38983;
  margin-top: 3px;
}

.past {
  background-color: rgb(139, 115, 115);
  color: white;
}

.present {
  background-color: #f38983;
  color: white;
}

.future {
  background-color: rgb(224, 181, 148);
  color: white;
}

.saveBtn {
  border: 3px solid whitesmoke;
  border-radius: 15px;
  background-color: #95b1b8;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.savedColor {
  border: 3px solid whitesmoke;
  border-radius: 15px;
  background-color: #8cd885;
  color: white;
}

.clearSchedule {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  color:#ff6961;
  border-radius: 15px;
  border: solid 5px #ff6961;
  font-weight: bold;
}
