body {
  font-size: 16px;
  line-height: 1;
  background-image: linear-gradient(rgb(139, 115, 115)30%,rgb(224, 181, 148));
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-top: 4px solid #e2bf4b;
  /* border-left: 1px solid black; */
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(rgb(224, 181, 148), rgb(139, 115, 115)40%);
  color: black;
  border-radius: 0;
  padding-bottom: 10px;
}
.display-3 {
  font-family: 'Rock Salt', cursive;
  color: #e2bf4b;
}
.lead {
  font-size: 1.5rem;
  color: #f38983;
}
#currentDay {
  font-size: 2rem;
  color: #e2bf4b;
  margin-top: 30px;
}
.container {
  padding-bottom: 5rem;
}
.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  padding-bottom: 5px;
  /* border-top: 1px solid #e2bf4b; */
}

.hour {
  background-color:whitesmoke;
  color: #f38983;;
  border-radius: 50%;
  /* border-bottom-right-radius: 15px; */
  /* border-top: 1px dashed #000000; */
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #afecaf;
  color: white;
}

.saveBtn {
  border: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #95b1b8;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
